<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657815140282-fbhiinvkuvdemakckv4fjk2evulbnikd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657815140282-fbhiinvkuvdemakckv4fjk2evulbnikd</string>
	<key>API_KEY</key>
	<string>AIzaSyAN3pMtRHAPVvoztzYBc3BVr8ud4qxTCOo</string>
	<key>GCM_SENDER_ID</key>
	<string>657815140282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.educaeasyApp</string>
	<key>PROJECT_ID</key>
	<string>educa-easy</string>
	<key>STORAGE_BUCKET</key>
	<string>educa-easy.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657815140282:ios:ebb160d655a48978b44f83</string>
</dict>
</plist>